
                <!--Botones-->

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                  <!--Boton Editar-->

                  <button class="btn btn-outline-success me-md-2"
                  (click)="editar"
                   type="button">
                    <span>
                    <fa-icon [icon]="faPen">
                    </fa-icon>
                  </span>
                </button>

                <!--Boton Eliminar-->

                <button class="btn btn-outline-danger me-md-2"
                  (click)="delete"
                   type="button">
                <span>
                  <fa-icon [icon]="faRemove">
                  </fa-icon>
                </span>
              </button>
                </div>

                  <!-- fin de los Botones-->
