<article class="skills" id="skills">
  <h1>Habilidades</h1>
  <p>Visualizado como porcentajes u otra forma de visualización atractiva colocarás tus habilidades duras y blandas relacionadascontigo y qué grado de dominio tienes, puedes      también generar una secciónadicional con los idiomas
  </p>
  <div class="container-skill habilidades">
    <div class="row justify-content-md-center">

      <div class="col-lg-2 rounded-circle  card" ><i class="fa fa-html5  fa-3x" aria-hidden="true"></i><p>84%</p></div>
      <div class="col-lg-2 rounded-circle  card "><i class="fa fa-css3 fa-3x" aria-hidden="true"></i><p>83%</p></div>
      <div class="col-lg-2 rounded-circle  card"><i class="fab fa-js fa-3x" aria-hidden="true"></i><p>54%</p></div>
      <div class="col-lg-2 rounded-circle  card"><i class="fab fa-angular fa-3x" aria-hidden="true"></i><p>81%</p></div>
      <div class="col-lg-2 rounded-circle  card"><i class="fa-brands fa-bootstrap fa-3x" ></i><p>72%</p></div>

   </div>
  </div>
</article>
