<article class="proyectos" id="proyectos">

  <h1>Proyectos</h1>

  <!--*ngFor="let proyecto of proyectoList"-->

  <li >
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Isla Panda</h5>
            <p class="card-text">Realizada en HTML, CSS</p>
            <a href="https://islapanda.com/" target="_blank" class="btn btn-primary">Ir al Proyecto</a>
          </div>

          <app-botones></app-botones>


        </div>
      </div>
    </div>
  </li>

</article>
