<article class="proyectos" id="proyectos">
  <h1>Proyectos</h1>
  <p>En esta sección deberá encontrarse la información sobre los proyectos que estuviste involucrado o que desarrollaste, incluyendo este portfolio web. Cada proyecto deberá contener el nombre, fecha de realización, descripción del proyecto y el link a su evidencia, en este caso podrías adjuntar imágenes de ellos.</p>
  <div class="container galeria">

    <div class="row justify-content-md-center container-card">
      <div class="col-lg-2 rounded cardgaleria"><img src="img/G1.jpg" alt="proyecto1" ><p>Proyectos</p></div>
      <div class="col-lg-2 rounded cardgaleria"><img src="img/G2.jpg" alt="proyecto1" ><p>Proyectos</p></div>
      <div class="col-lg-2 rounded cardgaleria"><img src="img/G3.jpg" alt="proyecto1" ><p>Proyectos</p></div>
      <div class="col-lg-2 rounded cardgaleria"><img src="img/G4.jpg" alt="proyecto1" ><p>Proyectos</p></div>
      <div class="col-lg-2 rounded cardgaleria"><img src="img/G5.jpg" alt="proyecto1" ><p>Proyectos</p></div>
     </div>



  </div>
</article>
