h1{
  color:#00bcd4;
}
article{
  text-align: center;
  margin:10px;
  padding: 10px;

}
img {
  width: 220px;

}

.card {
  background-color: black;

}

.card-body{
  background-color: #2a2a2a;
  border-radius: 5px;
  border:#2a2a2a solid 1px;
  box-shadow: inset 8px 8px 8px black, inset -8px -8px 8px rgb(255, 255, 255);
}






