<article>

  <h1>{{titleEd}}</h1>

  <div class="container">
    <div class="row justify-content-md-end">
      <div class="col-md-6">
        <div class="list-group ">
          <div class="list-group-item list-group-item-action text-white mb-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{EdcardT3}}</h5>
              <small> {{EdcardP3}}</small>
            </div>
            <p class="mb-1">{{EdcardE3}}</p>
            <small>{{EdcardD3}}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="list-group ">
          <div class="list-group-item list-group-item-action text-white  mb-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{EdcardT2}}</h5>
              <small>{{EdcardP2}}</small>
            </div>
            <p class="mb-1">{{EdcardE2}}</p>
            <small>{{EdcardD2}}</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-star">
      <div class="col-md-6">
        <div class="list-group ">
          <div class="list-group-item list-group-item-action text-white mb-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{EdcardT1}}</h5>
              <small>{{EdcardP1}}</small>
            </div>
            <p class="mb-1">{{EdcardE1}}</p>
            <small>{{EdcardD1}}</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</article>


<!--Nuevo formato-->

