<article>

  <h1>EDUCACION</h1>

  <div class="container">
    <div class="row justify-content-md-end">
      <div class="col-md-6">
        <div class="list-group ">
          <div class="list-group-item list-group-item-action text-white mb-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Titulo 1</h5>
              <small> DD // MM // AA</small>
            </div>
            <p class="mb-1">Establecimiento</p>
            <small>descripción del Titulo</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="list-group ">
          <div class="list-group-item list-group-item-action text-white  mb-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Titulo 1</h5>
              <small> DD // MM // AA</small>
            </div>
            <p class="mb-1">Establecimiento</p>
            <small>descripción del Titulo</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-star">
      <div class="col-md-6">
        <div class="list-group ">
          <div class="list-group-item list-group-item-action text-white mb-3">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Titulo 1</h5>
              <small> DD // MM // AA</small>
            </div>
            <p class="mb-1">Establecimiento</p>
            <small>descripción del Titulo</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</article>
