<header class="navbar-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Container nav -->
      <div class="container">
        <!-- Navbar brand -->
        <a
          class="navbar-brand me-2"
          href="https://argentinaprograma.inti.gob.ar/"
          target="-blank"
        >
          <img src="img/APLogo-20-20.png" width="100px" alt="logo" />
        </a>

        <ul class="nav justify-content-end">
          <div class="d-flex align-items-center">
            <button>
                <a href="#" target="_blank"
                  ><fa-icon [icon]="faCoffee"></fa-icon>
                >instagram</a>
              </button>
              <button>
                <a href="#" target="_blank"
                  ><i class="fab fa-github fa-2x" aria-hidden="true"></i
                >facebook</a>
              </button>
            <button>
              <a href="https://github.com/FrancoBallerini" target="_blank"
                ><i class="fab fa-github fa-2x" aria-hidden="true"></i
              >github</a>
            </button>
            <button>
              <a
                href="https://www.linkedin.com/in/franco-eduardo-ballerini-b7536b110/"
                target="_blank"
                ><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i
              >linkedin</a>
            </button>
            <button type="button" class="btn btn-link px-3 me-2">

                <a href="#login"
                  ><i class="fa fa-user-circle fa-1x" aria-hidden="true"></i
                >login</a>

            </button>

          </div>
        </ul>
      </div>
    </nav>

    <!-- BANNER-->

    <div class="banner">
      <section class="neon-titulo">
          <div class="texto">
              <h1>SOY</h1>
              <h1>FRANCO</h1>
          </div>
      </section>

    </div>
  </header>

