<header class="navbar-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Container nav -->
      <div class="container">
        <!-- Navbar brand -->
        <a
          class="navbar-brand me-2"
          href="https://argentinaprograma.inti.gob.ar/"
          target="-blank"
        >
        <img alt="item"
        [src]="itemImageUrl"
        width="100px">
        </a>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

            <button type="button" class="btn btn-link">
                <a href="https://www.instagram.com" target="_blank">
                  <fa-icon
                  [icon]="faInstagram"
                  >
                  </fa-icon>
                </a>
              </button>
              <button type="button" class="btn btn-link">
                <a href="https://twitter.com/?lang=es" target="_blank"
                  ><fa-icon
                  [icon]="faTwitter"
                  >
                  </fa-icon>
                </a>
              </button>
            <button type="button" class="btn btn-link">
              <a href="https://github.com/FrancoBallerini" target="_blank"
                ><fa-icon
                [icon]="faGithub"
                >
                </fa-icon></a>
            </button>
            <button type="button" class="btn btn-link">
              <a
                href="https://www.linkedin.com/in/franco-eduardo-ballerini-b7536b110/"
                target="_blank"
                ><fa-icon
                [icon]="faLinkedinIn"
                >
                </fa-icon>
              </a>
            </button>
             <div class="btn-group">
              <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <a href="#login">
                  <fa-icon
                  [icon]="faUserCircle"
                  >
                  </fa-icon>
                </a>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><button class="dropdown-item" type="button">
                  <p>
                  <fa-icon
                  [icon]="faHandshake">
                  </fa-icon >
                  Login</p>
                </button>
              </li>
                <li><button class="dropdown-item" type="button">
                  <p>
                  <fa-icon
                  [icon]="faHandScissors"
                  >
                  </fa-icon >
                  Salir</p>
                </button>
              </li>

              </ul>
            </div>



        </div>
      </div>
    </nav>

    <!-- BANNER-->

    <div class="banner">
      <section class="neon-titulo">
          <div class="texto">
              <h1>SOY</h1>
              <h1>FRANCO</h1>
          </div>
      </section>

    </div>
  </header>

