  <!-- experiencia-->

<article class="experiencia" id="experiencia">
  <h1>EXPERIENCIA</h1>

  <li class="portfolio ">
    <div class="container ">
      <div class="row justify-content-md-star">
        <div class="col-md-6">
      <div class="card text-white bg-secondary mb-3 ">
        <div class="container-fluid card-tal-con" >
          <div class="row " >
            <div class="col-md-3 card-header ">
              <img class="rounded-circle p-1"[src]="LogoTZ" alt=""
              style="max-width:50px;"><h5>Terminal  Zárate </h5>
              <div class="col-6"><hr style="background-color: white;border-top: 2px solid rgb(255 255 255);" ></div> <div class="col-6"></div><p>Del 2009 a la actualidad</p>
            </div>
            <div class="col-md-9">
             <div class="p-1 pt-md-3">
              <h5>Jefe de Patio</h5>
              <p>Organizar y administrar la asignación de espacio del Patio para los contenedores vacíos y llenos por tipo de servicio, nave nominada, puerto de descarga (POD), manipuleo especial (carga peligrosa, OOG, temperatura controlada, etc.</p>
             </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  </div>
   <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
    <div class="card text-white bg-secondary  mb-3">
      <div class="container-fluid card-tal-con" >
        <div class="row" >
          <div class="col-md-3 card-header ">
            <img class="rounded-circle p-1"[src]="LogoRAZ" alt=""
            style="max-width:50px;"><h5>DNRPA N°2</h5>
            <div class="col-6">
              <hr style="background-color: white;border-top: 2px solid rgb(255 255 255);" >
            </div>
            <div class="col-6"></div>
            <p>Del 2007 al 2009</p>
          </div>
          <div class="col-md-9">
           <div class="p-1 pt-md-3">
            <h5>Encargado </h5>
            <p>Patentamiento de Motos 0KM. Trasnferencia de Motos y Vehiculos. Control y administración de archivos</p>
           </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-end">
      <div class="col-md-6">
    <div class="card text-white bg-secondary  mb-3">
      <div class="container-fluid card-tal-con" >
        <div class="row" >
          <div class="col-md-3 card-header ">
            <img class="rounded-circle p-1"[src]="LogoDivito" alt=""
            style="max-width:50px;"><h5>Divito S.A.</h5>
            <div class="col-6"><hr style="background-color: white;border-top: 2px solid rgb(255 255 255);" ></div> <div class="col-6"></div><p>Del 2003 al 2007</p>
          </div>
          <div class="col-md-9">
           <div class="p-1 pt-md-3">
            <h5>Encargado</h5>
            <p>Supervisar todo lo que ocurre en un depósito. Planificar, dirigir y coordinar las actividades de abastecimiento, reposición, almacenamiento y distribución de los materiales y productos de la compañía</p>
           </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>

  </li>




</article>

<div>

</div>

