h1{
  color:#00bcd4;

}

li {
  text-decoration: none;
  list-style: none;
  margin: auto;

}


article{
  text-align: center;
  margin:10px;
  padding: 10px;

}
.container {
  margin:25px;
}

.card{
  background-color: black;
  margin:auto;
  padding:9px;
  box-shadow: 3px 2px 25px  #00bcd4;
}





